<title>O nama</title>
<div class="bgd">
<h2 class="h">O nama</h2>
<hr>
<p class="txt">Mi u Joy Divisionu istinski verujemo u kvalitet, tradiciju i iskustvo.</p><br>
<p class="txt">Već 25 godina radimo na stvaranju i unapređenju naših svežih poslastica izuzetnog kvaliteta. Naši poslastičari svakodnevno razvijaju nove ukuse inspirisani radom najboljih srpskih, francuskih i belgijskih majstora poslastičarstva i čokolade.</p><br>
<p class="txt">Naša želja je da oživimo tradicionalan način proizvodnje poslastica, iz vremena beskompromisnih vrhunskih kreatora u poslastičarstvu, velikih stvaralaca, kojima je šporet i par alatki bilo dovoljno da kreiraju poslastice koje su i danas oličenje neprikosnovenog ukusa i kvaliteta.</p><br>
<p class="txt">U našim poslasticama osetićete ukuse Srbije, Francuske, Mađarske, Belgije, Srednje Afrike, Južne Amerike, Bliskog Istoka... Od ružine vode, preko kondenzovanog mleka, komorača, vanile sa Madagaskara do svežih srpskih malina...</p><br>
<p class="txt">
Sva čokolada koju koristimo proizvodi se u jednom malom mestu u Belgiji, ali to nije razlog zašto je koristimo u našim proizvodima. Koristimo je zato što je dobra. Zato što sadrži dobra kakao zrna intenzivnog ukusa, zato što sadrži 100% kakao buter i zato što znamo de ćete vi osetiti razliku.
</p><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/f8UZntgAQ0s" frameborder="0" allowfullscreen></iframe>
</div>