<div class="bgd">
        <div class="buyL">
            <img src={{buyCtrl.result.img}} style="width:400px;height:450px;"></img><br><br>
            <p>Naziv: {{buyCtrl.result.name}}</p>
            <p>Cena: {{buyCtrl.result.price}} din.</p>
        </div>
        <div class="buyR">
                    
                    <div class="form-group">
                        <label for="usr">Kolicina:</label>
                        <input class="products" autofocus class="form-control" name="quantity" placeholder="Quantity" min="1" type="number" 
                            id="quantity" ng-model="buyCtrl.quantity" required/>
                    </div>
                    <div>
                        <label>Ukus:</label>
                        <div class="radio" >
                            <label><input type="radio" name="flavour" ng-model="buyCtrl.taste" value="Vanila">Vanila</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="flavour" ng-model="buyCtrl.taste" value="Cokolada">Cokolada</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="flavour" ng-model="buyCtrl.taste" value="Karamela">Karamela</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="flavour" ng-model="buyCtrl.taste" value="Sumsko voce">Sumsko voce</label>
                        </div>
                    </div>
                    <div>
                        <label>Boja:</label>
                        <div class="radio">
                            <label><input type="radio" ng-model="buyCtrl.color" name="colour" value="Bela">Bela</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="buyCtrl.color" name="colour" value="Lila">Lila</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="buyCtrl.color" name="colour" value="Bez">Bez</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="buyCtrl.color" name="colour" value="Roze">Roze</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="buyCtrl.color" name="colour" value="Cokoladna">Cokoladna</label>
                        </div>
                    </div>
                    <div>
                        <label>Preliv:</label>
                        <div class="radio">
                            <label><input type="radio" ng-model="buyCtrl.topping" name="topping" value="Ukrasni slag">Ukrasni slag</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="buyCtrl.topping" name="topping" value="Fondan">Fondan</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="buyCtrl.topping" name="topping" value="Secerni ukrasi">Secerni ukrasi</label>
                        </div>
                    </div>
                    <div>
                        <label>Napomene</label><br>
                        <input ng-model="buyCtrl.note" class="pomoc" type="text" name="note" maxlength="75">
                    </div><br>
                    <div>
                        <input type="submit" value="Kupi" ng-click="buyCtrl.buy()"></input>
                    </div>
        </div>
    </div>