<title> Registruj se</title>
<div class="bgd">
    <div class="special">
        <br><br><br><br>
    <div class="form-group">
        <input ng-model="registerCtrl.username" autocomplete="off" autofocus class="form-control" name="username" placeholder="Korisnicko ime" type="text" required/>
    </div>
    <div class="form-group">
        <input ng-model="registerCtrl.password" class="form-control" name="password" placeholder="Sifra" type="password" required/>
    </div>
    <div class="form-group">
        <input ng-model="registerCtrl.password2" class="form-control" name="confirm_password" placeholder="Potvrda sifre" type="password" required/>
    </div>
    <div class="form-group">
        <input ng-model="registerCtrl.fname" autocomplete="off" autofocus class="form-control" name="first_name" placeholder="Ime" type="text" required/>
    </div>
    <div class="form-group">
        <input ng-model="registerCtrl.lname" autocomplete="off" autofocus class="form-control" name="last_name" placeholder="Prezime" type="text" required/>
    </div>
    <div class="form-group">
        <input ng-model="registerCtrl.email" autocomplete="off" autofocus class="form-control" name="email" placeholder="E-mail" type="text" required/>
    </div>
    <div class="form-group">
        <button class="btn btn-default" ng-click="registerCtrl.register()">Registruj se</button>
    </div>
    <br><br><br><br>
    </div>
</div>